/* common shared styles*/
* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-weight: 600;
}

.section{
    margin:30px 0;
}

/* navigation bar design */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 125px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    text-decoration-color: #474747;
    font-size: 15px;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}


/* header section design */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}

/* banner section design */

.banner {
    padding: 30px 30px 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.hardy-img {
    width: 500px;
    height: 600px;
    /* position: relative; */
}

.banner-greetings {
    color: #474747;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: -30px;
}

.banner-name {
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.banner-details {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-contact {
    border-radius: 5px;
    border: 2px solid #FD6E0A;
    background-color: #FFF8F3;
    color: #FD6E0A;
    padding: 16px 35px;
    font-weight: 600;
    margin-left: 20px;
}

/* designing main section */





/* about me section design */

.about {
    margin: 130px auto;
    max-width: 800px;
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    border-radius: 10px;
}

.section-about {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-container div {
    text-align: center;
}

/* What I Do section designing */

.skill-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 150px;
}

.skill-container {
    display: flex;
    margin: 0 100px;
    gap: 20px;
}

.skill-content {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* designing resume section */

.resume-content{
    display: flex;
}