/* common shared styles*/
* {
    font-family: "Open Sans", sans-serif;
}

.text-primary {
    color: #FD6E0A;

}

.btn-primary {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    color: white;
    font-weight: 600;
}

/* navigation bar design */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    text-decoration-color: #474747;
    font-size: 15px;

}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;

}


/* header section design */

.header {
    background-color: #FFF8F3;
}

/* banner section design */

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.hardy {
    width: 500px;
    height: 600px;
    position:relative;
}
